### T_2.1 
Given an integer array nums and an integer val, remove all occurrences of val in nums in-place. The order of the elements may be changed. Then return the number of elements in nums which are not equal to val.

Consider the number of elements in nums which are not equal to val be k, to get accepted, you need to do the following things:

Change the array nums such that the first k elements of nums contain the elements which are not equal to val. The remaining elements of nums are not important as well as the size of nums.
Return k.

In [46]:
def removeElement(nums, val):
    count_val = nums.count(val)
    for _ in range(count_val):
        nums.remove(val)
        nums.append(val)
    return len(nums)-count_val

In [48]:
#Example 1:
nums = [3,2,2,3] 
val = 3
removeElement(nums, val)

2

In [49]:
#Example 1:
nums = [0,1,2,2,3,0,4,2]
val = 2
removeElement(nums, val)

5

### T2_2
26. Remove Duplicates from Sorted Array
Given an integer array nums sorted in non-decreasing order, remove the duplicates in-place such that each unique element appears only once. The relative order of the elements should be kept the same. Then return the number of unique elements in nums.

Consider the number of unique elements of nums to be k, to get accepted, you need to do the following things:

Change the array nums such that the first k elements of nums contain the unique elements in the order they were present in nums initially. The remaining elements of nums are not important as well as the size of nums.
Return k.

In [63]:
def removeDuplicates(nums):
    print (list(set(nums)))
    return(len(set(nums)))

In [64]:
#Example 1:
nums = [1,1,2]

removeDuplicates(nums)

[1, 2]

2

In [65]:
#Example 2:
nums = [0,0,1,1,1,2,2,3,3,4]
removeDuplicates(nums)

[0, 1, 2, 3, 4]

5

### T2_3
66. Plus One
You are given a large integer represented as an integer array digits, where each digits[i] is the ith digit of the integer. The digits are ordered from most significant to least significant in left-to-right order. The large integer does not contain any leading 0's.

Increment the large integer by one and return the resulting array of digits.

In [73]:
def plusOne(digits):
    num = int(''.join([str(d) for d in digits]))
    return [s for s in str(num+1)]

In [74]:
#Example 1:
digits = [1,2,3]
plusOne(digits)

['1', '2', '4']

In [75]:
#Example 2: 
digits = [4,3,2,1]
plusOne(digits)

['4', '3', '2', '2']

In [76]:
#Example 3: 
digits = [9]
plusOne(digits)

['1', '0']

### T2_4
Given an integer array nums of unique elements, return all possible 
subsets
 (the power set).

The solution set must not contain duplicate subsets. Return the solution in any order.

In [140]:
from itertools import combinations
def subsets(nums):
    result=[]
    for i in range (len(nums)+1):
        result.append(list(combinations(nums, i)))
    h1=[]
    for i in range(len(result)):
        for j in range(len(result[i])):
            h1.append(list(result[i][j]))   
    return (h1)

In [141]:
#Example 1:
nums = [1,2,3]
subsets(nums)

[[], [1], [2], [3], [1, 2], [1, 3], [2, 3], [1, 2, 3]]

In [142]:
#Example 2:
nums = [0]
subsets(nums)

[[], [0]]

### T2-5
Given an integer array nums, return all the triplets [nums[i], nums[j], nums[k]] such that i != j, i != k, and j != k, and nums[i] + nums[j] + nums[k] == 0.

Notice that the solution set must not contain duplicate triplets.

In [179]:
def threeSum(nums):
    result=list(combinations(nums, 3))
    result2 = [list(result[i]) for i in range(len(result)) if sum(result[i])==0]
    for i in range (len(result2)):
        for j in range(i+1, len(result2)):
            if set(res[i])==set(res[j]):
                result2.pop(i)
    return result2

In [180]:
#Example 1:
nums = [-1,0,1,2,-1,-4]
threeSum(nums)

[[-1, 2, -1], [0, 1, -1]]

In [181]:
nums = [0,0,0]
threeSum(nums)

[[0, 0, 0]]

In [182]:
nums = [0,1,1]
threeSum(nums)

[]

### T2_6 
48. Rotate Imageies
You are given an n x n 2D matrix representing an image, rotate the image by 90 degrees (clockwise).

You have to rotate the image in-place, which means you have to modify the input 2D matrix directly. DO NOT allocate another 2D matrix and do the rotation.

In [192]:
def rotate(matrix):
    for i in range(len(matrix)):
        for j in range (i, len(matrix)):
            matrix[i][j]=matrix[j][i]
    for i in range(len(matrix)):
        matrix[i].reverse()
    return matrix

In [193]:
#Example 1:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
rotate(matrix)

[[7, 4, 1], [8, 5, 4], [9, 8, 7]]